<a href="https://colab.research.google.com/github/krakowiakpawel9/data-science-bootcamp/blob/master/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'2.2.1'

### <a name='a2'></a> Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1221 entries, 2024-03-15 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1221 non-null   float64
 1   High    1221 non-null   float64
 2   Low     1221 non-null   float64
 3   Close   1221 non-null   float64
 4   Volume  1221 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 57.2 KB

In [4]:
apple.head()

              Open      High      Low   Close       Volume
Date
2024-03-15  171.17  172.6200  170.285  172.62  121752699.0
2024-03-14  172.91  174.3078  172.050  173.00   72913507.0
2024-03-13  172.77  173.1850  170.760  171.13   52488692.0
2024-03-12  173.15  174.0300  171.010  173.23   59825372.0
2024-03-11  172.94  174.3800  172.050  172.75   60139473.0

### <a name='a3'></a> Preprocessing

In [5]:
apple.columns = ['apple_' + col.lower() for col in apple.columns] #dodanie przedrostka i zamiana na małe
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2024-03-15      171.17    172.6200    170.285       172.62   121752699.0
2024-03-14      172.91    174.3078    172.050       173.00    72913507.0
2024-03-13      172.77    173.1850    170.760       171.13    52488692.0
2024-03-12      173.15    174.0300    171.010       173.23    59825372.0
2024-03-11      172.94    174.3800    172.050       172.75    60139473.0

### <a name='a4'></a> Konkatenacja danych

In [8]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1) #łączy wszystkie tabele po 1 osi
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2019-03-19,45.6448,45.8013,45.0526,45.2011,1.305927e+08,87.6755,89.2080,87.6755,88.0925,127283220,59.5860,60.1705,59.4730,60.1230,29788140,NaN,NaN,NaN,NaN,NaN
2019-03-20,45.1293,45.9209,44.7634,45.5980,1.280708e+08,88.4970,89.9750,88.3515,89.8635,125312660,60.0700,61.4995,59.9795,61.3215,41508840,NaN,NaN,NaN,NaN,NaN
2019-03-21,46.0445,47.5769,45.9957,47.2728,2.105991e+08,89.8130,91.1875,89.3640,90.9630,115355940,61.0000,61.8220,60.8290,61.8065,28149600,NaN,NaN,NaN,NaN,NaN
2019-03-22,47.3346,47.9038,46.2290,46.2958,1.750005e+08,90.5085,90.9490,88.1555,88.2385,127259660,61.4425,61.6815,60.3000,60.3825,34422660,NaN,NaN,NaN,NaN,NaN
2019-03-25,46.4104,46.5221,45.2191,45.7415,1.809331e+08,87.8895,89.1340,87.3750,88.7130,102076060,59.9780,60.4720,59.5000,59.8690,27576980,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-11,172.9400,174.3800,172.0500,172.7500,6.013947e+07,174.3100,174.4700,171.4700,171.9600,28484777,136.1300,139.0950,136.1300,137.6700,32437772,78.70,78.8900,76.53,77.47,13781394.0
2024-03-12,173.1500,174.0300,171.0100,173.2300,5.982537e+07,173.5000,176.7600,171.9800,175.3900,36610604,137.0300,139.3750,137.0300,138.5000,27563354,78.01,78.4800,77.48,78.32,11303824.0
2024-03-13,172.7700,173.1850,170.7600,171.1300,5.248869e+07,175.9000,177.6200,175.5500,176.5550,30772600,139.0000,141.0900,138.9900,139.7900,23347208,78.00,79.6911,77.93,78.25,12065099.0
2024-03-14,172.9100,174.3078,172.0500,173.0000,7.291351e+07,177.6900,179.5300,176.4650,178.7500,43705840,141.1900,143.5850,140.4550,143.1000,42753387,78.34,78.4800,76.90,77.65,12737226.0
2024-03-15,171.1700,172.6200,170.2850,172.6200,1.217527e+08,176.6400,177.9300,173.9000,174.4200,72147390,142.5000,143.1800,140.0300,141.1800,49475417,77.00,77.8400,75.77,76.07,24554947.0

In [9]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1221.000000,1221.000000,1221.000000,1221.000000,1.221000e+03
mean,127.937480,129.381291,126.590907,128.058661,1.002151e+08,131.093698,132.687224,129.409521,131.070627,7.346921e+07,101.685559,102.845495,100.598614,101.752138,3.360508e+07,39.728577,40.502087,38.937061,39.732711,2.517608e+07
std,45.239173,45.602215,44.866547,45.252168,5.328688e+07,30.700811,30.961828,30.378732,30.637635,3.263763e+07,29.600403,29.864531,29.304313,29.579188,1.494232e+07,11.728417,11.819764,11.624893,11.722170,1.850212e+07
min,42.680800,43.280000,41.419700,42.154400,2.404834e+07,82.075500,83.480000,81.301600,81.820000,1.762674e+07,52.224500,52.500000,50.443500,51.937000,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,86.492425,87.087600,85.021725,86.557725,6.545975e+07,98.278750,99.710000,96.960000,98.302500,5.199642e+07,73.053975,73.677125,72.255250,72.939000,2.421381e+07,31.000000,31.700000,30.370000,31.050000,1.579689e+07
50%,140.199500,141.898000,137.835500,140.088000,8.687272e+07,132.210000,133.569500,130.540000,132.129500,6.423406e+07,103.100000,104.808500,102.068000,103.720000,2.989728e+07,37.390000,37.990000,36.580000,37.210000,2.121304e+07
75%,164.790500,166.564525,163.321250,165.062000,1.179191e+08,159.700750,161.440250,157.750000,159.515250,8.571150e+07,129.839500,131.510000,128.302500,129.757500,3.773515e+07,46.260000,47.090000,45.600000,46.290000,2.945469e+07
max,198.020000,199.620000,197.000000,198.110000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,152.800000,153.780000,151.430000,153.510000,1.331771e+08,81.940000,82.140000,80.790000,81.390000,3.642612e+08

In [10]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}') #zmiana sposobu wyświetlania float

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,127.94,45.24,42.68,86.49,140.20,164.79,198.02
apple_high,1258.00,129.38,45.60,43.28,87.09,141.90,166.56,199.62
apple_low,1258.00,126.59,44.87,41.42,85.02,137.84,163.32,197.00
apple_close,1258.00,128.06,45.25,42.15,86.56,140.09,165.06,198.11
apple_volume,1258.00,100215057.74,53286884.05,24048344.00,65459748.75,86872722.11,117919090.46,434708544.96
amazon_open,1258.00,131.09,30.70,82.08,98.28,132.21,159.70,187.20
amazon_high,1258.00,132.69,30.96,83.48,99.71,133.57,161.44,188.65
amazon_low,1258.00,129.41,30.38,81.30,96.96,130.54,157.75,184.84
amazon_close,1258.00,131.07,30.64,81.82,98.30,132.13,159.52,186.57
amazon_volume,1258.00,73469208.64,32637629.86,17626740.00,51996420.00,64234060.00,85711495.00,311345660.00
google_open,1258.00,101.69,29.60,52.22,73.05,103.10,129.84,152.80
google_high,1258.00,102.85,29.86,52.50,73.68,104.81,131.51,153.78
google_low,1258.00,100.60,29.30,50.44,72.26,102.07,128.30,151.43
google_close,1258.00,101.75,29.58,51.94,72.94,103.72,129.76,153.51
google_volume,1258.00,33605078.85,14942316.68,9312760.00,24213810.25,29897280.00,37735151.75,133177100.00
uber_open,1221.00,39.73,11.73,15.96,31.00,37.39,46.26,81.94
uber_high,1221.00,40.50,11.82,17.80,31.70,37.99,47.09,82.14
uber_low,1221.00,38.94,11.62,13.71,30.37,36.58,45.60,80.79
uber_close,1221.00,39.73,11.72,14.82,31.05,37.21,46.29,81.39
uber_volume,1221.00,25176076.14,18502124.96,3380003.00,15796892.00,21213042.00,29454687.00,364261230.00

In [11]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.50,0.53,0.53,0.53,0.53,-0.29,0.90,0.90,0.90,0.90,-0.09,0.32,0.32,0.33,0.33,0.06
apple_high,1.00,1.00,1.00,1.00,-0.50,0.53,0.53,0.52,0.53,-0.28,0.90,0.90,0.90,0.90,-0.09,0.32,0.32,0.32,0.32,0.06
apple_low,1.00,1.00,1.00,1.00,-0.51,0.53,0.53,0.53,0.53,-0.30,0.90,0.90,0.90,0.90,-0.10,0.33,0.33,0.33,0.33,0.06
apple_close,1.00,1.00,1.00,1.00,-0.51,0.53,0.53,0.52,0.53,-0.29,0.90,0.90,0.90,0.90,-0.10,0.32,0.32,0.33,0.33,0.06
apple_volume,-0.50,-0.50,-0.51,-0.51,1.00,-0.12,-0.12,-0.13,-0.13,0.61,-0.50,-0.50,-0.51,-0.51,0.45,-0.28,-0.27,-0.29,-0.28,0.20
amazon_open,0.53,0.53,0.53,0.53,-0.12,1.00,1.00,1.00,1.00,-0.11,0.66,0.66,0.66,0.66,-0.10,0.59,0.59,0.59,0.59,-0.03
amazon_high,0.53,0.53,0.53,0.53,-0.12,1.00,1.00,1.00,1.00,-0.09,0.66,0.66,0.66,0.66,-0.09,0.58,0.59,0.58,0.58,-0.02
amazon_low,0.53,0.52,0.53,0.52,-0.13,1.00,1.00,1.00,1.00,-0.12,0.66,0.66,0.66,0.66,-0.11,0.60,0.60,0.60,0.60,-0.03
amazon_close,0.53,0.53,0.53,0.53,-0.13,1.00,1.00,1.00,1.00,-0.11,0.66,0.66,0.66,0.66,-0.11,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.29,-0.28,-0.30,-0.29,0.61,-0.11,-0.09,-0.12,-0.11,1.00,-0.32,-0.31,-0.32,-0.32,0.54,-0.28,-0.28,-0.30,-0.29,0.22
google_open,0.90,0.90,0.90,0.90,-0.50,0.66,0.66,0.66,0.66,-0.32,1.00,1.00,1.00,1.00,-0.14,0.43,0.43,0.43,0.43,0.05
google_high,0.90,0.90,0.90,0.90,-0.50,0.66,0.66,0.66,0.66,-0.31,1.00,1.00,1.00,1.00,-0.14,0.42,0.42,0.43,0.42,0.05
google_low,0.90,0.90,0.90,0.90,-0.51,0.66,0.66,0.66,0.66,-0.32,1.00,1.00,1.00,1.00,-0.16,0.43,0.43,0.44,0.43,0.04
google_close,0.90,0.90,0.90,0.90,-0.51,0.66,0.66,0.66,0.66,-0.32,1.00,1.00,1.00,1.00,-0.15,0.43,0.43,0.43,0.43,0.05
google_volume,-0.09,-0.09,-0.10,-0.10,0.45,-0.10,-0.09,-0.11,-0.11,0.54,-0.14,-0.14,-0.16,-0.15,1.00,-0.15,-0.15,-0.17,-0.16,0.23
uber_open,0.32,0.32,0.33,0.32,-0.28,0.59,0.58,0.60,0.59,-0.28,0.43,0.42,0.43,0.43,-0.15,1.00,1.00,1.00,1.00,-0.12
uber_high,0.32,0.32,0.33,0.32,-0.27,0.59,0.59,0.60,0.59,-0.28,0.43,0.42,0.43,0.43,-0.15,1.00,1.00,1.00,1.00,-0.11
uber_low,0.33,0.32,0.33,0.33,-0.29,0.59,0.58,0.60,0.59,-0.30,0.43,0.43,0.44,0.43,-0.17,1.00,1.00,1.00,1.00,-0.14
uber_close,0.33,0.32,0.33,0.33,-0.28,0.59,0.58,0.60,0.59,-0.29,0.43,0.42,0.43,0.43,-0.16,1.00,1.00,1.00,1.00,-0.12
uber_volume,0.06,0.06,0.06,0.06,0.20,-0.03,-0.02,-0.03,-0.03,0.22,0.05,0.05,0.04,0.05,0.23,-0.12,-0.11,-0.14,-0.12,1.00

In [12]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [13]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [14]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.53          0.90        0.33
amazon_close         0.53          1.00          0.66        0.59
google_close         0.90          0.66          1.00        0.43
uber_close           0.33          0.59          0.43        1.00

In [15]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [16]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.51,0.53,-0.29,0.90,-0.10,0.33,0.06
apple_volume,-0.51,1.00,-0.13,0.61,-0.51,0.45,-0.28,0.20
amazon_close,0.53,-0.13,1.00,-0.11,0.66,-0.11,0.59,-0.03
amazon_volume,-0.29,0.61,-0.11,1.00,-0.32,0.54,-0.29,0.22
google_close,0.90,-0.51,0.66,-0.32,1.00,-0.15,0.43,0.05
google_volume,-0.10,0.45,-0.11,0.54,-0.15,1.00,-0.16,0.23
uber_close,0.33,-0.28,0.59,-0.29,0.43,-0.16,1.00,-0.12
uber_volume,0.06,0.20,-0.03,0.22,0.05,0.23,-0.12,1.00

### <a name='a5'></a> Metoda append()

In [17]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2024-03-15      77.00      77.84     75.77       76.07     24554947
2024-03-14      78.34      78.48     76.90       77.65     12737226
2024-03-13      78.00      79.69     77.93       78.25     12065099
2024-03-12      78.01      78.48     77.48       78.32     11303824
2024-03-11      78.70      78.89     76.53       77.47     13781394

In [22]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2019)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [23]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2019)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [25]:
uber_6_7 = pd.concat([uber_6, uber_7]) #union all
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998